<!DOCTYPE HTML>
  <html lang="en">
    <head>
      <title>Hangman</title>
      <meta charset="utf-8">
      <script src="/js/javascript.js"></script>
      <link rel="styleSheet" href="#"> <!-- css styles -->
      <link rel="stylesheet" href="#"><!--bootstrap -->
    </head>
    <body>
      <header>
        <h1>My games</h1>
        <nav>
          <a onclick="newGame('Marc')" href="/">score</a>
          <a href="#">High scores</a>
          <a href="#">Your games</a>
        </nav>
      </header>
      <article>
        <p id="progress"></p>
        <input placeholder="Enter a letter" type="text">
        <input type="button">
      </article>
      <script src="https://apis.google.com/js/client.js?onload=init">
      </script>
    </body>
  </html>